nav button{
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    text-align: right;
    padding: 0;
    /*align-items: flex-start;*/
    /*align-content: flex-start;*/
    /*justify-items: flex-start;*/
    /*justify-content: flex-start;*/
}
.navbar{
    background-color: #3c37f1;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
}
#mySidebar{
    background-color: #3c37f1;
    color: white;
    height: 100%;
    width: 300px;

}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar button{
    color: white;
}