.ReducerMethod{
    display: flex;
    color: purple;
    /*align-items: center;*/
}
.todoCard{
    border: solid 2px purple;
    border-radius: 5px;
    padding: 25px;
    margin-left: 10px;
}
label{
    cursor: pointer;
}
button{
    border:solid 2px purple;
    border-radius: 5px;
    background-color: transparent;
    color: purple;
    margin-left: 5px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
